span.colort1{font-size: 0.7em;}
ul{display: flex;}
div.titulo1 h2, h3{font-size: 1em;}
div.horario h2{font-size: 19px;}
div.titulo1{margin-top: 50%;}
img.aimg{
	padding: 0%;
	margin-bottom: 3%;
}
a, .dropbtn{
	width: 100%;
	font-weight: 500;
	padding:10px 5px;
	font-size: 14px;
}
div.body1, div.body2{
	width: 90%;
	margin-left: 5%;
}
#f1{
	border-image: url(../src/border.png) 20;
	width: 80%;
	margin-left: 2.5%;
}
div.mapa{
	width: 95%;
	margin-left: 2.5%;
}
blockquote.uno{display: none;}
div.modales{visibility: visible;}
div.articulos{width: 95%; margin-left: 2.5%;}
button.uno{
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
	margin-bottom: 2%;
	font-size: 12px;
}
div.a1texto{display: none;}
div.buscar_conexion1{
	width: 70%;
	margin-top: -4%;
	margin-left: -0.5%;
	height: 41px;
}
p.uno{font-size: 15px;}
div.ex2{width: 97%; margin-left: 1%;}
div.horario{
	margin-top: 15%;
	width: 74%;
	margin-left: 12%;
}
pre{display: none;}
ul.metros{display: inline-block;}
li.metros1{padding-right: 20%;}
#myDropdown{
	margin-top: 14%;
	width:29%;
	margin-left: 22.5%;
	background-color: #e9e9ed;
	height: 14%;
}
.dropdown-content a{
	font-size: 14px;
}
.dropdown-content{
	bottom: 79.2%
}
form{width: 100%;margin-left: 0%;}
fieldset{padding: 5%;}
input.benviar{margin-left: 47%;}
.volver{padding: 5px;margin-left: 29%;margin-top: 5%; width:35%;}